<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Al mubarak</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="" />
          <span>Al mubarak</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li>
              <a
                href="assets/sighup/login/login.html"
                class="getstarted scrollto"
                >Login</a
              >
            </li>
            <li>
              <a class="getstarted scrollto" href="assets/sighup/register.html"
                >Register</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">
              A technology platform Digital Services That Beat The Market
            </h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              offers solutions to digital needs at best possible price without
              compromising quality.
            </h2>
            <div data-aos="fade-up" data-aos-delay="600">
              <div class="text-center text-lg-start">
                <a
                  href="assets/sighup/register.html"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Sign Up</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img src="assets/img/image.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            <div
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <h3>ABOUT US</h3>
                <h2>
                  Our customers are premium to us, hence satisfying them is our
                  topmost priority. Our customer service is just a click away.
                </h2>
                <div style="display: flex; margin-bottom: 20px">
                  <div
                    style="
                      width: 150px;
                      border: 1px solid rgb(255, 165, 0);
                      height: 150px;
                      margin-right: 9px;
                      border-radius: 30px;
                      text-align: center;
                      padding-top: 50px;
                    "
                  >
                    <h2>99.9%</h2>
                    <p>Automation</p>
                  </div>
                  <div
                    style="
                      width: 150px;
                      border: 1px solid rgb(255, 165, 0);
                      height: 150px;
                      margin-right: 9px;
                      border-radius: 30px;
                      text-align: center;
                      padding-top: 50px;
                    "
                  >
                    <h2>100%</h2>
                    <p>Instant refund</p>
                  </div>
                  <div
                    style="
                      width: 150px;
                      border: 1px solid rgb(255, 165, 0);
                      height: 150px;
                      border-radius: 30px;
                      text-align: center;
                      padding-top: 50px;
                    "
                  >
                    <h2>100%</h2>
                    <p>Support</p>
                  </div>
                </div>
                <div class="text-center text-lg-start">
                  <a
                    href="#"
                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                  >
                    <span>Read More</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-6 d-flex align-items-center"
              data-aos="zoom-out"
              data-aos-delay="200"
            >
              <img src="assets/img/abo.jpg" style="width: 600px" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Frequently Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
          <!-- Feature Icons -->
          <div class="row feature-icons" data-aos="fade-up">
            <h3>Frequently Asked Questions</h3>

            <div class="row">
              <div
                class="col-xl-4 text-center"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                <img
                  src="assets/img/features-3.png"
                  class="img-fluid p-4"
                  alt=""
                />
              </div>

              <div class="col-xl-8 d-flex content">
                <div class="row align-self-center gy-4">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="ri-line-chart-line"></i>
                    <div>
                      <h4>How to Buy Data?</h4>
                      <ol>
                        <li><p>Login in to your account</p></li>
                        <li><p>If not click here to register</p></li>
                        <li><p>log in click fund my account</p></li>
                        <li><p>Select Coupon payment</p></li>
                      </ol>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="ri-stack-line"></i>
                    <div>
                      <h4>What Are The Codes For Checking Data Balance?</h4>
                      <div>
                        <p>MTN-> *461*4#</p>
                        <p>9mobile[SME]-> *229*9#</p>
                        <p>9mobile[Gifting]-> *228#</p>
                        <p>Airtel-> *140#</p>
                        <p>Glo-> *127*0#.</p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i class="ri-brush-4-line"></i>
                    <div>
                      <h4>How Do I Fund My Wallect</h4>
                      <div>
                        <p>
                          You can fund your wallet using any of our Four payment
                          means: Bank payment.
                        </p>
                        <p>
                          Online Payment with your ATM card details via Pay
                          stack Payment Gateway.
                        </p>
                        <p>Payment with airtime.</p>
                        <p>Payment with Coupon Code(s).</p>
                      </div>
                    </div>
                  </div>

                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="ri-magic-line"></i>
                    <div>
                      <h4>
                        Can I upgrade to a more poweerful hosting plan later?
                      </h4>
                      <p>
                        STEP 1: Fund your wallet.<br />
                        STEP 2: Fill the data order form. <br />
                        STEP 3: Wait for 1-15 minutes, the recipient will
                        receive <br />
                        notification(s) of data recharge(Except for
                        9mobile(SME), which should be confirmed with its balance
                        code)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Frequently Icons -->
        </div>
      </section>
      <!-- End Features Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Services</h2>
            <p>
              We Offer Instant Recharge Of Airtime, Databundle, CableTV (DStv,
              GOtv & Startimes), Electricity Bill Payment And Airtime To Cash &
              E-Pins
            </p>
          </header>

          <div class="row gy-4">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="service-box blue">
                <img src="assets/img/airtime.png" alt="" srcset="" />
                <h3>Airtime Recharge</h3>
                <p>
                  Making an online recharge has become very easy and safe on al
                  mubarak.com
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="service-box orange">
                <img src="assets/img/data.png" alt="" srcset="" />
                <h3>Data Bundle</h3>
                <p>
                  Start enjoying this very low rates Data plan for your internet
                  browsing databundle.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="service-box green">
                <img src="assets/img/bulb.png" alt="" srcset="" />
                <h3>Bills Payment</h3>
                <p>
                  Because we understand your needs, we have made bills and
                  utilities payment more convenient.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="service-box red">
                <img src="assets/img/gotv.png" alt="" srcset="" />
                <h3>Cable Subscription</h3>
                <p>
                  Instantly Activate Cable subscription with favourable discount
                  compare to others in market.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="service-box purple">
                <img src="assets/img/airtocash.png" alt="" srcset="" />
                <h3>Airtime To Cash</h3>
                <p>
                  Convert your airtime easily to cash here at abumpay with less
                  charges.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="700"
            >
              <div class="service-box pink">
                <img src="assets/img/waec.png" alt="" srcset="" />
                <h3>Result E-PINS</h3>
                <p>
                  Start enjoying this at a very low rates for your result
                  checker.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Pricing</h2>
            <p>Check our Pricing</p>
          </header>

          <div class="row gy-4" data-aos="fade-left">
            <div
              class="col-lg-3 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="box">
                <h3 style="color: yellow">MTN</h3>
                <div class="price"><sup>1GB</sup><span> #270</span></div>
                <img src="assets/img/mtn.png" class="img-fluid" alt="" />
                <ul>
                  <li>
                    1 Months Validity 4G LTE Support Fast Delivery Multi-Purpose
                  </li>
                </ul>
                <a href="assets/login.html" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="box">
                <h3 style="color: lightgreen">GLO</h3>
                <div class="price"><sup> 1GB</sup><span> #29O</span></div>
                <img src="assets/img/glo.png" class="img-fluid" alt="" />
                <ul>
                  <li>
                    1 Months Validity 4G LTE Support Fast Delivery Multi-Purpose
                  </li>
                </ul>
                <a href="assets/login.html" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="box">
                <h3 style="color: green">9MOBILE</h3>
                <div class="price"><sup></sup>1.5BG<span> #800</span></div>
                <img src="assets/img/mobile.png" class="img-fluid" alt="" />
                <ul>
                  <li>
                    1 Months Validity 4G LTE Support Fast Delivery Multi-Purp
                  </li>
                </ul>

                <a href="assets/login.html" class="btn-buy">Buy Now</a>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="box">
                <h3 style="color: #ff0071">Airtel</h3>
                <div class="price"><sup></sup>1GB<span> #299</span></div>
                <img src="assets/img/airtel.png" class="img-fluid" alt="" />
                <ul>
                  <li>
                    1 Months Validity 4G LTE Support Fast Delivery Multi-Purp
                  </li>
                </ul>

                <a href="assets/login.html" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- ======= Testimonials Section ======= -->_
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Customers' Reviews</h2>
            <p>What they are saying about us</p>
          </header>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Great!!! EVerything is cool with al mubarak The admin is
                    super-active because he gave response to all my request.
                    Love.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/head.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Hassan Jamiu</h3>
                    <h4>DATA RESELLER</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Wow. This is a legit datahub for me. I haven't disappointed
                    my customers since they never disappoint me too. Thank you
                    for your usual action. Will keep an eye out for their work
                    in the future.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/woman.jpg"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Olawale Mariam</h3>
                    <h4>CUSTOMER</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    My Experience with Abumpay is just mindblowing. their
                    customer support are 24/7 on sit, and they are fully active
                    for your responses!
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/nice.png"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Azeez Aishat</h3>
                    <h4>DESIGNER</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    Oh my God! Don't know what to say but it is cool to partner
                    with this platform. They have provided me all the best i
                    want. Thank you.
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/alfa.png"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Ademola Afeez</h3>
                    <h4>ENTREPRENEUR</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    I love that Exact Data allows you to buy leads directly from
                    their website without having to go through a stress. I love
                    that they offer a 95% data accuracy services....
                  </p>
                  <div class="profile mt-auto">
                    <img
                      src="assets/img/big.png"
                      class="testimonial-img"
                      alt=""
                    />
                    <h3>Sodiq Isola</h3>
                    <h4>PRODUCT MANAGER</h4>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>

          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>A108 Adam Street,<br />Osun Osogbo</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+234 9067 7062 03<br />+234 9151 7791 04</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br />contact@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br />9:00AM - 11:00PM</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
              <h4>Our Newsletter</h4>
            </div>
            <div class="col-lg-6">
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="" />
                <span>FlexStart</span>
              </a>
              <p> -->
      <!-- Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
                nada terra videa magna derita valies darta donna mare fermentum
                iaculis eu non diam phasellus.
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div> -->

      <!-- <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contact Us</h4>
              <p>
                A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br /><br />
                <strong>Phone:</strong> +1 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Al mubarak</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
