<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link href="../img/apple-touch-icon.png" rel="icon" />
    <link rel="stylesheet" href="register.css" />
  </head>
  <body>
    <div class="register--page">
      <h1>Sign Up</h1>
      <form action="" method="post">
        <input type="text" name="first-name" placeholder="First Name" />
        <input type="text" name="last-name" placeholder="Last Name" />
        <input type="text" name="Username" placeholder="Username" />
        <input type="number" name="mobile-number" placeholder="Moblie Number" />
        <input type="email" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="c_password"
          placeholder="Comfirm Password"
        />
        <!-- <div class="getstarted"><a href="">Get Started</a></div> -->
        <div class="getstarted">
          <button type="submit" name="submit-btn" class="submit">
            Sign In
          </button>
        </div>
      </form>
      <div class="head">
        <div class="having--account">
          <span>Already have account?</span>
          <a
            href="../../assets/sighup/login/login.html"
            style="text-decoration: none"
            >Sign In</a
          >
        </div>
        <div class="forgot--password">
          <a href="" style="text-decoration: none">Forgot Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>
